<div class="movie-details-container">
    <div class="card-image">
        <img [src]="movie?.Poster" onerror="this.onerror=null; this.src='/assets/images/default-placeholder.png'"
            alt="{{movie?.Title}}">
    </div>
    <div class="card-title">
        <label>{{movie?.Title}}</label>
    </div>
    <div class="card-spacer">
        <div class="plot">
          <div><label for="Plot">Plot</label></div>
          <div>{{movie?.Plot}}</div>
        </div>
        <div class="actors">
            <div><label for="Actors">Actors</label></div>
            <div>{{movie?.Actors}}</div>
        </div>
        <div class="ratings" *ngIf="movie?.Ratings && movie?.Ratings?.length">
            <div><label for="Ratings">Ratings</label></div>
            <ul>
                <li *ngFor="let rating of movie?.Ratings">{{rating.Source}}:&nbsp;{{rating.Value}}</li>
            </ul>
        </div>
    </div>
    <div class="card-bottom">
        <label>{{movie?.Year}}</label>
        <button type="button" (click)="CloseMovieDetails()" class="btn">CLOSE</button>
    </div>
</div>