div {
    float: left;
}

.movie-card-container {
    width: 100%;
    margin: 0 auto;
    clear: both;
    min-height: 90vh;
}

.movie-details-container {
    width: 100%;
    height: 29vh;
    background-color: #fff;
    display: table;
}

.movie-details-container .card-image {
    height: inherit;
    width: 20vh;
}

.movie-details-container .card-image img {
    width: inherit;
    height: inherit;
}

.movie-details-container .card-title {
    height: 4.5vh;
    line-height: 4.5vh;
    text-align: left;
    padding: 0 0 0 1.5vh;
    width: 27vh;
    font-weight: 600;
    font-size: 1.5vh;
}

.movie-details-container .card-spacer {
    width: 27vh;
    height: 20vh;
    padding: 0 0 0 1.5vh;
}

.movie-details-container .card-bottom {
    height: 4.5vh;
    line-height: 4.5vh;
    text-align: left;
    padding: 0 0 0 1.5vh;
    width: 27vh;
    font-size: 1.5vh;
}