<ng-container *ngIf="!showDetails; else Details">
    <div class="card-container">
        <div class="card-image">
            <img [src]="movie?.Poster" onerror="this.onerror=null; this.src='/assets/images/default-placeholder.png'"
                alt="{{movie?.Title}}">
        </div>
        <div class="card-title">
            <label>{{movie?.Title}}</label>
        </div>
        <div class="card-spacer"></div>
        <div class="card-bottom">
            <label>{{movie?.Year}}</label>
            <input type="button" (click)="OpenMovieDetails()" value="DETAILS">
        </div>
    </div>
</ng-container>
<ng-template #Details>
    <div class="details-container">
        <app-movie-details [movie]="movieDetails"></app-movie-details>
    </div>
</ng-template>