<div class="card">
    <img [src]="movie?.Poster" onerror="this.onerror=null; this.src='/assets/images/default-placeholder.png'" alt="{{movie?.Title}}" height="215" width="150">
    <div class="card-title">
        <label>{{movie?.Title}}</label>
    </div>
    <div class="card-bottom">
        <label>{{movie?.Year}}</label>
        <!-- <a [routerLink]="['/movie-details']" [queryParams]="{id: movie?.imdbID}" fragment="education">
            DETAILS
        </a> -->

        <a [routerLink]="['/movie-details']">
            DETAILS
        </a>
        <a routerLink="/movieDetails/356">movieDetails</a>
    </div>
</div>