html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #FFF;
}
.main_container{
    width: 100%;
    margin: 0 auto;
}

.display-section{
    padding-top: 2vh;
    background-color: #f3f4f387;
    width: 51%;
    margin: 0 auto;
    min-height: 90vh;
}

.btn {
    border-color: #245580;
    color: #fff;
    background-color: #3a5cef;
    display: inline-block;
    padding: 0.4vh 0.4vw;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-left: 0.1vw;
}

.odd .card-container{
    margin-right: 0 !important;
}
.even .card-container{
    margin-left: 0 !important;
}